{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolos Decorados</title>
    <link rel="stylesheet" href="{% static "global/css/style.css" %}">
    <link rel="stylesheet" href="{% static "global/css/categoria_produtos.css" %}">
    <link rel="icon" href="{% static 'images/icon/favicon.ico' %}" type="image/x-icon">


</head>

<body id='topo'>
    {% include "global/partials/_menu.html" %}
    
    <main class="produtos-container">
        <h1 class='page-title'>Bolos Decorados</h1>

        

        <div class="categorias-grid">

            <div class="categoria-item" >
                <img src="{% static "images/produtos/bolos_decorados/1.jpg" %}" alt="Bolo 1">
            </div>
            <div class="categoria-item" >
                <img src="{% static "images/produtos/bolos_decorados/2.jpg" %}" alt="Bolo 2">
            </div>
            <div class="categoria-item" >
                <img src="{% static "images/produtos/bolos_decorados/3.jpg" %}" alt="Bolo 3">
            </div>
            <div class="categoria-item" >
                <img src="{% static "images/produtos/bolos_decorados/4.jpg" %}" alt="Bolo 4">
            </div>
            <div class="categoria-item" >
                <img src="{% static "images/produtos/bolos_decorados/5.jpg" %}" alt="Bolo 5">
            </div>
            <div class="categoria-item" >
                <img src="{% static "images/produtos/bolos_decorados/6.jpg" %}" alt="Bolo 6">
            </div>
            <div class="categoria-item" >
                <img src="{% static "images/produtos/bolos_decorados/7.jpg" %}" alt="Bolo 7">
            </div>
            <div class="categoria-item">
                <img src="{% static "images/produtos/bolos_decorados/8.jpg" %}" alt="Bolo 8">
            </div>
            <div class="categoria-item">
                <img src="{% static "images/produtos/bolos_decorados/9.jpg" %}" alt="Bolo 9">
            </div>
            <div class="categoria-item" >
                <img src="{% static "images/produtos/bolos_decorados/10.jpg" %}" alt="Bolo 10">
            </div>
            <div class="categoria-item">
                <img src="{% static "images/produtos/bolos_decorados/11.jpg" %}" alt="Bolo 11">
            </div>
            <div class="categoria-item" >
                <img src="{% static "images/produtos/bolos_decorados/12.jpg" %}" alt="Bolo 12">
            </div>
            <div class="categoria-item">
                <img src="{% static "images/produtos/bolos_decorados/13.jpg" %}" alt="Bolo 13">
            </div>
            <div class="categoria-item" >
                <img src="{% static "images/produtos/bolos_decorados/14.jpg" %}" alt="Bolo 14">
            </div>
            <div class="categoria-item">
                <img src="{% static "images/produtos/bolos_decorados/15.jpg" %}" alt="Bolo 15">
            </div>
            <div class="categoria-item" >
                <img src="{% static "images/produtos/bolos_decorados/16.jpg" %}" alt="Bolo 16">
            </div>
            <div class="categoria-item" >
                <img src="{% static "images/produtos/bolos_decorados/17.jpg" %}" alt="Bolo 17">
            </div>
            <div class="categoria-item">
                <img src="{% static "images/produtos/bolos_decorados/18.jpg" %}" alt="Bolo 18">
            </div>
            <div class="categoria-item">
                <img src="{% static "images/produtos/bolos_decorados/19.jpg" %}" alt="Bolo 19">
            </div>
            <div class="categoria-item">
                <img src="{% static "images/produtos/bolos_decorados/20.jpg" %}" alt="Bolo 20">
            </div>
            <div class="categoria-item">
                <img src="{% static "images/produtos/bolos_decorados/21.jpg" %}" alt="Bolo 21">
            </div>
            <div class="categoria-item">
                <img src="{% static "images/produtos/bolos_decorados/22.jpg" %}" alt="Bolo 22">
            </div>
            <div class="categoria-item">
                <img src="{% static "images/produtos/bolos_decorados/23.jpg" %}" alt="Bolo 23">
            </div>
            <div class="categoria-item" >
                <img src="{% static "images/produtos/bolos_decorados/24.jpg" %}" alt="Bolo 24">
            </div>
        
        </div>

               
    </main>
     
    {% include "global/partials/_footer.html" %}
    <script src="{% static 'js/seta.js' %}"></script>  
</body>
</html>