{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolos de pote</title>
    <link rel="stylesheet" href="{% static "global/css/style.css" %}">
    <link rel="stylesheet" href="{% static "global/css/categoria_produtos.css" %}">
    <link rel="stylesheet" href="{% static "global/css/produtos.css" %}">
    <link rel="icon" href="{% static 'images/icon/favicon.ico' %}" type="image/x-icon">
</head>
<body id='topo'>
    {% include "global/partials/_menu.html" %}

    <main class="produtos-container">
        <h1 class='page-title'>Bolos de pote</h1>

        <h3 class='click-img'>Clique na imagem para mais informações</h3>

        <div class="produtos-grid">
            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/bolos_de_pote/ninho_com_morango.jpg' %}" alt="Bolo de pote ninho com Morango">
                        <h2>Ninho com Morango</h2>
                        <p>R$ 10,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Delicioso Bolo no Pote de leite Ninho com morango na Massa Artesanal de leite Ninho super macia e molhadinha, recheada com   um delicioso creme de leite Ninho e morangos frescos, cuidadosamente selecionados.
                            250ml</p>
                    </div>
                </div>
            </div>

            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/bolos_de_pote/prestigio.jpg' %}" alt="Bolo de pote prestigio">
                        <h2>Prestigio</h2>
                        <p>R$ 10,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Irresistível Bolo no Pote na Massa Artesanal de cacau 50%  super  macia e molhadinha, recheada com um delicioso brigadeiro gurmet  de coco e uma camada generosa de ganache gurmet de chocolate meio amargo.
                            250ml</p>
                    </div>
                </div>
            </div>

            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/bolos_de_pote/redvelvet.jpg' %}" alt="Bolo de pote redvelvet">
                        <h2>Red Velvet</h2>
                        <p>R$ 10,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Fabuloso e Irresistível Bolo de Pote de Red Velvet, preparado com massa artesanal amanteigada, super fofinha e úmida, bolo bem molhadinho, recheado com Creme de Leite Ninho Gourmet e Geleia Artesanal de Frutas Vermelhas.
                            Bolo fresquinho!
                            Pote de 250ml.</p>
                    </div>
                </div>
            </div>

            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/bolos_de_pote/abacaxi.jpg' %}" alt="Bolo de pote abacaxi">
                        <h2>Abacaxi com Coco</h2>
                        <p>R$ 10,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Irresistível Bolo no Pote na Massa Artesanal de Baunilha super macia e molhadinha, recheada com um delicioso creme Galak, abacaxi e coco.
                            250ml</p>
                    </div>
                </div>
            </div>

            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/bolos_de_pote/brigadeiro.jpg' %}" alt="Bolo de pote brigadeiro">
                        <h2>Brigadeiro</h2>
                        <p>R$ 10,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Fabuloso e Irresistível Bolo de Pote de Brigadeiro, preparado com massa artesanal de Chocolate, super fofinha e úmida, bolo bem molhadinho e recheado com Brigadeiro Gourmet Tradicional.
                            Bolo fresquinho!
                            Pote de 250ml.</p>
                    </div>
                </div>
            </div>

            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/bolos_de_pote/doce_de_leite.jpg' %}" alt="Bolo de pote doce de leite">
                        <h2>Doce de Leite</h2>
                        <p>R$ 10,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Fabuloso e Irresistível Bolo de Pote de Doce de Leite, preparado com massa artesanal de Baunilha, super fofinha e úmida, bolo bem molhadinho e recheado com Doce de Leite Cremoso.
                            Bolo fresquinho!
                            Pote de 250ml.</p>
                    </div>
                </div>
            </div>

            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/bolos_de_pote/ninho_com_alpino.jpg' %}" alt="Bolo de pote ninho com alpino">
                        <h2>Ninho com Alpino</h2>
                        <p>R$ 10,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Fabuloso e Irresistível Bolo de Pote de Ninho com Alpino, preparado com massa artesanal de Chocolate, super fofinha e úmida, bolo bem molhadinho, recheado com Mousse Gourmet de Leite Ninho e Mousse Gourmet de Alpino com pedaços de Chocolate Alpino no meio.
                            Bolo fresquinho!
                            Pote de 250ml.</p>
                    </div>
                </div>
            </div>

            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/bolos_de_pote/pao_de_mel.jpg' %}" alt="Bolo de pote pão de mel">
                        <h2>Pão de Mel</h2>
                        <p>R$ 10,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Delicioso Bolo no Pote na Massa Artesanal de Mel super macia e molhadinha, recheada com  Doce de Leite Artesanal super cremoso e finalizado com Ganache de Chocolate Nobre!
                            250ml</p>
                    </div>
                </div>
            </div>
        
        </div>
    </main>
    
    {% include "global/partials/_footer.html" %}
    <script src="{% static 'js/flip_card.js' %}"></script>

</body>
</html>
