{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobremesas Famillia</title>
    <link rel="stylesheet" href="{% static "global/css/style.css" %}">
    <link rel="stylesheet" href="{% static "global/css/categoria_produtos.css" %}">
    <link rel="stylesheet" href="{% static "global/css/produtos.css" %}">
    <link rel="icon" href="{% static 'images/icon/favicon.ico' %}" type="image/x-icon">

</head>
<body id='topo'>
    
    {% include "global/partials/_menu.html" %}

    <main class="produtos-container">
        <h1 class="page-title">Sobremesas Família</h1>

        <h2> Clique na imagem para mais informações</h2>

        <div class="produtos-grid">

            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/sobremesas_familia/banoffe_travessa_pequena.jpg' %}" alt="banoffe na travessa pequena ">
                        <h2>Banoffe Travessa pequena</h2>
                        <p>R$ 48,00</p>
                    </div>
                    <div class="produto-back">
                        <p> </p>
                    </div>
                </div>
            </div>
            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/sobremesas_familia/manjar_de_coco.jpg' %}" alt="Manjer de coco ">
                        <h2>Manjar de Coco </h2>
                        <p>R$ 50,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Apresentamos o nosso Manjar de Coco, uma deliciosa e irresistível sobremesa da categoria 'Tamanho Família'. Esta iguaria é cuidadosamente preparada com os ingredientes de mais alta qualidade, garantindo um sabor autêntico e inesquecível. Acompanha uma calda de ameixa fresca, que adiciona um toque de doçura e umidade, elevando a experiência de saborear esta sobremesa. O Manjar é entregue em uma forma descartável e a calda é servida separadamente para preservar a textura perfeita do prato. Com aproximadamente 1kg, esta opção serve de 6 a 8 pessoas, tornando-se a escolha perfeita para compartilhar com a família ou amigos. </p>
                    </div>
                </div>
            </div>
            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/sobremesas_familia/pave_abacaxi_peq.jpg' %}" alt="Pâve de abacaxi pequeno ">
                        <h2>Pavê Abacaxi pequeno </h2>
                        <p>R$ 48,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Delicioso Pavê de Abacaxi, feito com Creme de Chocolate Branco Nobre super cremoso, pedaços de Abacaxi fresquinho e selecionado, camadas feitas com Biscoito de Champagne e finalizado com pedaços de Abacaxi.
                            Sobremesa fresquinha!  </p>
                    </div>
                </div>
            </div>
            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/sobremesas_familia/pave_frutas_vermelhas.jpg' %}" alt="Pave de fritas vermelhas ">
                        <h2>Pavê de Frutas Vermelhas </h2>
                        <p>R$ 120,00</p>
                    </div>
                    <div class="produto-back">
                        <p> </p>
                    </div>
                </div>
            </div>
            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/sobremesas_familia/pave_ouro_branco_peq.jpg' %}" alt="pave de ouro branco pequeno ">
                        <h2>Pavê Ouro Branco pequeno </h2>
                        <p>R$ 48,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Apresentamos nosso Pavê de Ouro Branco, uma sobremesa de tamanho familiar que traz a combinação perfeita de sabores ricos e indulgentes. Esta delícia é meticulosamente preparada com uma irresistível Mousse de Leite Ninho Gourmet, um creme suave e rico de Chocolate Branco, e uma indulgente Mousse de Nutella Gourmet, todas intercaladas com camadas de Biscoito Champagne crocante. Para completar, a sobremesa é adornada com o querido Bombom Ouro Branco. Tudo isso é cuidadosamente embalado em uma embalagem descartável, garantindo que chegue à sua mesa com o máximo de frescor e sabor.
                            Feito no Dia! </p>
                    </div>
                </div>
            </div>
            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/sobremesas_familia/pave_travessa_maracuja.jpg' %}" alt="Pave travessa maracuja ">
                        <h2>Pavê na Travessa Ninho com Maracuja </h2>
                        <p>R$ 120,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Delicioso Pavê feito com geleia artesanal de maracuja, bolacha champange e mousse de leite Ninho bem cremoso. Combinação perfeita da acidez do maracuja com o doce na medida certa do mousse de leite Ninho.
                            Sobremesa fresquinha!  
                            Produto enviado na caixa box de acrilico 15x15x8
                            ( Obs) Não Fazemos Troca De Ingredientes. </p>
                    </div>
                </div>
            </div>
            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/sobremesas_familia/pudim.jpg' %}" alt="Pudim de leite condensado ">
                        <h2>Pudim Leite Condensado </h2>
                        <p>R$ 55,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Descubra o prazer de saborear nosso Pudim de Leite Condensado, uma sobremesa tamanho família, de textura suave e sabor encantador. Cuidadosamente preparado com os ingredientes mais frescos e de alta qualidade, como leite condensado e ovos, este deleite é finalizado no forno para atingir a perfeição. Com aproximadamente 1kg, serve de 6 a 8 pessoas, tornando-se a escolha ideal para compartilhar momentos doces. Para complementar, uma calda de caramelo fresquinha, intensa e aveludada, envolve o pudim, intensificando sua experiência de sabor. Importante: nosso pudim é entregue em uma forma descartável, pronta para ser desenformada e servida. </p>
                    </div>
                </div>
            </div>
            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/sobremesas_familia/surpresa_uva_peq.jpg' %}" alt="Surpresa de uva na travessa">
                        <h2>Surpresa de Uva na travessa </h2>
                        <p>R$ 48,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Garanta já sua sobremesa com o nosso delicioso Bombom Aberto de Uva, feito com creme de chocolate branco super cremoso, Uvas fresquinhas e selecionadas e finalizado com Brigadeiro Gourmet Tradicional! 
                            Peso  Aproximadamente Pequena em media (650 a 750gr) Crande (1400 Gr)
                            Embalagem descartável. </p>
                    </div>
                </div>
            </div>
            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/sobremesas_familia/surpresa_morango_peq.jpg' %}" alt="Surpresa de Morando na travessa ">
                        <h2>Surpresa de Morando na travessa </h2>
                        <p>R$ 48,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Presenteie seu paladar com nossa requintada 'Surpresa de Morango na Travessa', da categoria 'Sobremesas Tamanho Família'. Esta sobremesa esplêndida traz um Bombom Aberto de Morango, meticulosamente preparado com um riquíssimo Creme de chocolate Branco, realçando um sabor inigualavelmente cremoso. Acrescentamos ainda, morangos da melhor qualidade, cuidadosamente selecionados, para proporcionar frescor em cada mordida. A finalização fica por conta do nosso clássico e amado Brigadeiro Gourmet Tradicional. Este prato serve com abundância de 8 a 10 pessoas, sendo a escolha perfeita para momentos especiais em família ou entre amigos. Entregue em uma prática embalagem descartável, para sua comodidade. </p>
                    </div>
                </div>
            </div>
            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/sobremesas_familia/travessa_brownie.jpg' %}" alt="travessa de brownie com morango ">
                        <h2>Travessa de Brownie com Morango </h2>
                        <p>R$ 120,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Adoce seu paladar com a nossa Travessa de Brownie com Morango, uma sobremesa sublime da categoria 'Sobremesas Tamanho Família'. Esta delícia é harmoniosamente composta por um cremoso e artesanal chocolate branco, complementado por brownies ricos em sabor e morangos frescos, cuidadosamente selecionados. Tudo finalizado com pedaços de brownie e morangos para dar um toque extra de frescor. Uma sobremesa irresistível perfeita para compartilhar! </p>
                    </div>
                </div>
            </div>
        
        </div>
    </main>

    {% include "global/partials/_footer.html" %}
    <script src="{% static 'js/flip_card.js' %}"></script>
</body>
</html>