:root {
    --pink-color: #ff91a4;
    --maincontent-color: #f7eff4;
    --gren-color: rgba(95, 202, 199, 0.8);;
    --font-color: #202020;
    --gap: 40px
}

/* Resetando margens e fontes padrão */
* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
    color: var(--font-color);
    background: var(--maincontent-color);  
}

li {
  list-style: none;
}
a {
  color: var(--font-color);
  text-decoration: none;
  list-style: none;
  font-size: 1.6rem;
  font-weight: bold;
}

a:hover {
  color: var(--pink-color);
  
}

.click-img {
  text-align: center;
}

.menu-container {
  margin-bottom: 20px;
  display: flex;
  background: var(--maincontent-color);
  height: 100px;
  justify-content: center;
  align-items: center;
}

.flex-left, .flex-right {
  margin-top: 60px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}
 
#whats ,img {
    height: 30px;
}

.logo {
  z-index: 2;
  margin-top: 5rem;
}

.logo img {
  height: 300px;
}

#mask {
  width: 100%;
  height: 100%;
  mask-image: url('../../images/svg/Rectangle1.png');
}

/* Slideshow container */
.slideshow-container {
  background: var(--maincontent-color);
  display: flex;
  flex-direction: column;
  max-width: auto;
  position: relative;
  margin: auto;
}

.mySlides div {
  display: flex; /* Garante que as imagens fiquem lado a lado */
  justify-content: center; /* Centraliza as imagens horizontalmente (opcional) */
  align-items: center; /* Centraliza as imagens verticalmente (opcional) */
}

.mySlides img{
    height: 588px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.testimonials {
  background-color: var(--maincontent-color);
  padding: 40px;
  text-align: center;
}

.testimonials h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.testimonial {
  max-width: 300px;
  padding: 20px;
  background-color: var(--pink-color);
  border-radius: 10px;
  color: white;
  font-family: 'Merienda', cursive;
}

.testimonial span {
  display: block;
  margin-top: 10px;
  font-size: 1rem;
  font-style: italic;
}




.footer {
  background: url('../../images/svg/footer.png') no-repeat top;
  background-size: cover;
  text-align: center;
  color:var(--maincontent-color);
  
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section img {
  margin-top: 30px;
  height: 100px; /* Tamanho ajustado para o coração */
}

.footer-info {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
}

.footer-social {
  gap: 20px; /* Espaçamento entre os ícones */
  
  
}

.footer-social a {
  display: inline-block;
  padding: 25px;
  border-radius: 50%;
  background-image: url('../../images/svg/moldure-icon.svg'); /* Caminho do seu arquivo SVG */
  background-size: contain; /* Ajusta o SVG para cobrir toda a área */
  background-position: center; /* Centraliza a moldura */
  background-repeat: no-repeat; /* Impede que a moldura se repita */
  transition: transform 0.3s ease-in-out;
}
  
.footer-social a img {
  width: 30px; /* Tamanho dos ícones */
  transition: transform 0.3s ease-in-out;
}
  
.footer-social a img {
  width: 30px; /* Tamanho dos ícones */
  position: relative; /* Garante que os ícones fiquem em cima da moldura */
  z-index: 1; /* Garante que os ícones fiquem visíveis em cima da moldura */
}

.footer-social a:hover {
  transform: scale(1.1); /* Aumenta o ícone ao passar o mouse */
}

  /* Novo estilo para o texto do rodapé */
.footer-credit {
  text-align: center;
  margin-top: 20px;
  color: var(--font-color); /* Ajuste a cor conforme necessário */
  padding: 30px;
}

.footer-credit img {
  height: 30px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  

}

.footer-credit .heart {
  color: #ff5b5b; /* Cor do coração */
  font-size: 1.2rem;
}


/*  */
#icone-hamburguer {
  display: none;
}

.menu-burguer {
  display: none;          /* Escondido por padrão */
  position: absolute;
  top: 80px;
  left: 20px;
  background-color: var(--pink-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 5px;
  width: 250px;
  height: 400px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.menu-burguer li a {
  padding: 15px;
  color: var(--maincontent-color);
  display: block;
  margin-bottom: 10px;
}

/*  Responsividade  */
@media screen and (max-width: 950px) {
  .flex-left, .flex-right {
    display: none;
  }
  #icone-hamburguer {
    display: block;
  }

  #icone-hamburguer {
      margin-top: 20px;
      display: flex;
      padding-right: 150px;
  }
}


@media screen and (max-width: 700px) {
  .testimonial-container {
    display: inline-block; 
  }
  .testimonial {
    margin-top: 10px;
  }
}



@media screen and (max-width: 500px) {
  .flex-left,
  .flex-right {
    display: none;
  }

   #icone-hamburguer {
      margin-top: 20px;
      display: flex;
      padding-right: 150px;
    }

   .menu-container {
    justify-content: end;
   } 
}


/* Inicialmente, a setinha ficará oculta */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 10px;
  display: none;   /* Inicialmente oculta */
  z-index: 1000;   /* Fica por cima de outros elementos */
  cursor: pointer;
  background-image: url('../../images/svg/moldure-icon.svg');
  border-radius: 50%; /* Deixa o botão redondo */
  padding: 10px;  /* Tamanho do botão */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  background-position: center;  /* Centraliza a imagem */
  background-repeat: no-repeat;  /* Impede que a imagem se repita */
  width: 60px;  /* Ajuste o tamanho do botão */
  height: 60px;  /* Ajuste o tamanho do botão */
  justify-content: center;
}

/* Aumenta o tamanho da setinha ao passar o mouse */
.scroll-to-top:hover {
  transform: scale(1.1); /* Efeito de aumentar */
  opacity: 0.8; /* Tornar um pouco transparente */
}

/* Efeito suave para a seta quando aparece e desaparece */
.scroll-to-top img {
  width: 35px;  /* Tamanho da setinha */
  height: 35px;
}

/* Estilo opcional de quando o botão de rolar é visível */
.scroll-to-top.show {
  
  display: block;  /* Exibe a setinha quando necessário */
}