{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolos com Cobertura</title>
    <link rel="stylesheet" href="{% static "global/css/style.css" %}">
    <link rel="stylesheet" href="{% static "global/css/categoria_produtos.css" %}">
    <link rel="stylesheet" href="{% static "global/css/produtos.css" %}">

</head>
<body>
    
    {% include "global/partials/_menu.html" %}

    <main class="produtos-container">
        <h1 class='page-title'>Bolos com Cobertura</h1>

        <div class="produtos-grid">
            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/bolos_com_cobertura/cenoura_com_chocolate.jpg' %}" alt="Bolo de Cenoura">
                        <h2>Bolo de Cenoura</h2>
                        <p>R$ 28,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Desfrute de nosso delicioso Bolo de Cenoura com Cobertura de Chocolate, uma receita artesanal que vai encantar seu paladar. Preparado com cenouras frescas e cuidadosamente selecionadas, esse bolo é incrivelmente macio e úmido. A calda gourmet de brigadeiro adiciona um toque de sofisticação e intensifica o sabor do chocolate. Garantimos que é preparado no Dia, para que chegue até você sempre fresquinho. Uma delícia que remete aos bolos da vovó, perfeito para qualquer ocasião, seja um lanche da tarde ou uma celebração especial. Experimente e se apaixone por essa maravilha! Consumo em até 24 horas. (Obs: Contem Láctose)</p>
                    </div>
                </div>
            </div>
    
            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/bolos_com_cobertura/chocolate_com_galak.jpg' %}" alt="Bolo de Chocolate">
                        <h2>Bolo de Chocolate</h2>
                        <p>R$ 28,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Apresentamos nosso Bolo de Chocolate com Cobertura de Galak. Este é um bolo artesanal, irresistivelmente saboroso, meticulosamente preparado com ingredientes de alta qualidade. A textura dele é super macia e úmida, garantindo um sabor incomparável. A finalização é feita com uma generosa camada de Calda Galak Gourmet. Nosso bolo é sempre fresco, sendo preparado no mesmo Dia da entrega. Recomendamos o consumo em até 24 horas para garantir a melhor experiência de degustação. (Obs: Contem Láctose).</p>
                    </div>
                </div>
            </div>
    
            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/bolos_com_cobertura/mini_cenoura.jpg' %}" alt="Mini vulcão de cenoura">
                        <h2>Mini vulcão de cenoura</h2>
                        <p>R$ 18,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Delicie-se com nosso fabuloso Mini Vulcão de Cenoura! Uma obra de arte culinária em miniatura, feita com cenouras frescas e uma massa incrivelmente fofinha e úmida. Este pequeno tesouro é coberto com uma calda gourmet de brigadeiro, rica e indulgente, e finalizado com dois brigadeiros gourmet irresistíveis. Cada bolo é feito à mão e servido fresquinho, garantindo a mais alta qualidade e sabor inigualável. Uma delícia que vai fazer você se sentir em uma verdadeira festa de sabores!.</p>
                    </div>
                </div>
            </div>

            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/bolos_com_cobertura/mini_chocolate.jpg' %}" alt="Mini vulcão de chocolate">
                        <h2>Mini vulcão de chocolate</h2>
                        <p>R$ 18,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Delicioso até na versão Mini!
                            Fabuloso Mini Bolo Vulcão Artesanal de Chocolate, feito com chocolate nobre, massa super fofinha e úmida, coberto com Calda Gourmet de Brigadeiro e finalizado com um Brigadeiro Gourmet e um Morango!</p>
                    </div>
                </div>
            </div>

            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/bolos_com_cobertura/mini_leite_ninho_com_nutella.jpg' %}" alt="mini vulcão de leite ninho com nutella">
                        <h2>Mini vulcão ninho com nutella</h2>
                        <p>R$ 20,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Delicioso até na versão Mini!
                            Fabuloso Mini Bolo Vulcão Artesanal de Leite Ninho ou Chocolate, massa super fofinha e úmida, recheado com Nutella e coberto com Calda Gourmet de Leite Ninho!</p>
                    </div>
                </div>
            </div>

            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/bolos_com_cobertura/vulcao_cenoura.jpg' %}" alt="Bolo vulcão de Cenoura">
                        <h2>Vulcão de Cenoura</h2>
                        <p>R$ 58,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Maravilhoso e Super Recheado Bolo Vulcão de Cenoura, Bolo Artesanal feito com Cenouras fresquinhas e selecionadas, bolo super fofinho e úmido, coberto com Calda Artesanal de Brigadeiro Gourmet e finalizado com Morangos fresquinhos.
                            Bolo fresquinho feito no Dia! Consumo em até 24 horas.</p>
                    </div>
                </div>
            </div>

            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/bolos_com_cobertura/vulcao_chocolate.jpg' %}" alt="Bolo vulcão de chocolate">
                        <h2>Vulcão de Chocolate</h2>
                        <p>R$ 60,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Maravilhoso e Super Recheado Bolo Vulcão de Chocolate, Bolo Artesanal feito com Chocolate Nobre, bolo super fofinho e úmido, coberto com Calda Artesanal de Brigadeiro Gourmet, finalizado com Morangos fresquinhos e Brigadeiros Gourmet Tradicionais.
                            Bolo fresquinho feito no Dia! Consumo em ate 24 horas.</p>
                    </div>
                </div>
            </div>

        </div>
    </main>
    
    <script src="{% static 'js/flip_card.js' %}"></script>

</body>
</html>