{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cones</title>
    <link rel="stylesheet" href="{% static "global/css/style.css" %}">
    <link rel="stylesheet" href="{% static "global/css/categoria_produtos.css" %}">
    <link rel="stylesheet" href="{% static "global/css/produtos.css" %}">

</head>
<body>
    {% include "global/partials/_menu.html" %}

    <main class="produtos-container">
        <h1 class="page-title">Cones Trufados</h1>
    


        <div class="produtos-grid">
            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/cones/ferreiro_rocher.jpg' %}" alt="Cone de ferreiro rocher">
                        <h2>Cone de Ferreiro Rocher</h2>
                        <p>R$ 14,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Delicioso e Super Crocante Cone Trufado de Brigadeiro, casquinha crocante banhada em Chocolate Nobre Meio Amargo e recheado com Creme Gourmet de Ferrero Rocher, super cremoso e uma dose da legitima Nutella!
                            Doce e crocante na medida certa!
                            Sobremesa fresquinha!</p>
                    </div>
                </div>
            </div>

            
            <div class="produto">
                <div class="produto-inner">
                    <div class="produto-front">
                        <img src="{% static 'images/produtos/cones/rafaello.jpg' %}" alt="Cone de rafaello">
                        <h2>Cone de Rafaello</h2>
                        <p>R$ 14,00</p>
                    </div>
                    <div class="produto-back">
                        <p>Delicioso Cone banhado no chocolate branco, recheado com um delicioso recheio feito com chocolate branco nobre, amendoas laminadas torrada, coco em flocos finalizado com um bombom Raffaello.  Sobremesa deliciosa doce e crocante na medida certa.!</p>
                    </div>
                </div>
            </div>
         
        </div>    


    </main>
    <script src="{% static 'js/flip_card.js' %}"></script>
</body>
</html>