{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="{% static "global/css/style.css" %}">
    <link rel="stylesheet" href="{% static "global/css/produtos.css" %}">

</head>
<body>
    {% include "global/partials/_menu.html" %}

    <main class="produtos-container">
        <h1 class="page-title">Nossos Produtos</h1>  
        
        <!-- Botão para exibir as categorias -->
        <button class="btn-categorias" onclick="toggleCategorias()">Ver Categorias</button>

        <!-- Div  com Categorias -->
        
        
    </main>

    </main>



</body>
</html>

