{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sobre</title>
    <link rel="stylesheet" href="{% static "global/css/style.css" %}">
    <link rel="stylesheet" href="{% static "global/css/produtos.css" %}">
    <link rel="stylesheet" href="{% static "global/css/sobre.css" %} ">


</head>
<body>
    {% include "global/partials/_menu.html" %}

    <section class="sobre">
        <div class="container">
            <h2 class="titulo">História</h2>
            <p class="descricao">
                Fundada em 2015, nossa confeitaria nasceu da vontade de compartilhar o amor por doces com o mundo. 
                Ao longo dos anos, fomos aperfeiçoando nossas receitas e expandindo nosso cardápio, sempre mantendo a qualidade 
                e o sabor como prioridade. Hoje, somos reconhecidos pela excelência e pelo carinho com que preparamos cada produto.
            </p>
        </div>

        <div class="container">
            <h2 class="titulo">Nossa Missão</h2>
            <p class="descricao">
                Na nossa confeitaria, temos um compromisso: transformar momentos especiais em doces inesquecíveis. 
                Desde o início, nossa paixão pela confeitaria nos guiou a criar produtos frescos, feitos com carinho 
                e ingredientes de qualidade. Cada receita é uma celebração do sabor e da arte de bem fazer.
            </p>
        </div>
        
    </section>


    {% include "global/partials/_footer.html" %}

</body>
</html>