{% load static %}

<footer class="footer">
    <div class="footer-container">
      <!-- Seção visual -->
      <div class="footer-section">
        <img id="heart" src="{% static 'images/icon/devider_heart.png' %}" alt="Separador de coração" />
      </div>

      <!-- Links e redes sociais -->
      <div class="footer-social">
        <a href="https://www.instagram.com/confeitariadadalia/" target="_blank">
          <img src="{% static 'images/svg/instagram.svg' %}" alt="Instagram" />
        </a>
        <a href="https://www.facebook.com/enidalia.moreira?mibextid=wwXIfr&rdid=fcDZPuyhRN73N7Va&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1EqmAUpKPg%2F%3Fmibextid%3DwwXIfr#" target="_blank">
          <img src="{% static 'images/svg/facebook.svg' %}" alt="Facebook" />
        </a>
        <a href="https://www.ifood.com.br/delivery/sao-paulo-sp/confeitaria-dalia-bolos-e-sobremesas-vila-fernandes/8aa01342-582c-46f4-bec7-37faf062f735?UTM_Medium=share" target="_blank">
          <img src="{% static 'images/svg/ifood.svg' %}" alt="iFood" />
        </a>
      </div>
    </div>

    <!-- Informações da empresa -->
    <div class="footer-info">
      <br />
      <p><strong>CNPJ:</strong> 41.378.056/0001-61</p>
      <br />
      <p><strong>Endereço:</strong> Rua Vacanga, 41 - São Paulo, Vila Fernandes</p>
      <a style="color: white;" href="https://www.google.com/maps/place/R.+Vacanga,+41+-+Vila+Fernandes,+S%C3%A3o+Paulo+-+SP,+03433-025/@-23.5589157,-46.536992,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce5de79f0737a7:0x4bbb8e0d1c299be5!8m2!3d-23.5589206!4d-46.5344171!16s%2Fg%2F11cpgf_4nx!5m1!1e4?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D">
        <img style="height: 80px;" src="{% static 'images/icon/maps.png' %}" alt="mapa da loja" />
      </a>
    </div>
  </footer>