{% load static %}

<section class="menu-container">
    <nav class="flex-left">
      <li><a href="{% url "produtos" %}">Produtos</a></li>
      <li><a href="{% url "bolos_decorados" %}">Bolos Decorados</a></li>
      <li><a href="{% url "sobre" %}">Sobre</a></li>
    </nav>

    <div class="logo">
      <a href="/">
        <img src="{% static 'images/logo/logo_home.png' %}" alt="Logo confeitaria" />
      </a>
    </div>

    <nav class="flex-right">
      <li><a href="https://www.ifood.com.br/delivery/sao-paulo-sp/confeitaria-dalia-bolos-e-sobremesas-vila-fernandes/8aa01342-582c-46f4-bec7-37faf062f735?UTM_Medium=share">Compre pelo ifood</a></li>
        <img id="sacola" src="{% static 'images/svg/bag-heart-love.svg' %}" alt="sacola" />
      </a></li>
      <li><a href="#">
        <img id="lupa" src="{% static 'images/svg/lupa.svg' %}" alt="lupa" />
      </a></li>
    </nav>
  </section>